body{
  background-color:white;
  color:black;
  font-weight: bold;
}
/*Pokedex Array Style Attributes Start */
.poke-btn{
  border:2px green solid;
  width:100%;
  border-radius:5px;
  padding:5%;
  font-weight:bold;
  box-shadow:2px 2px;
}
.poke-btn:hover{
  background-color:black;
  border:2px red solid;
  color:white;

}
.pokeitem{
  list-style-type:none;
  margin-bottom:15px;
  padding-right:10%

}
section{
  border:2px black outset;
  border-radius:2px;
  background-image: linear-gradient( 70deg, lightblue ,white);
  color:black;
  width:25%;
  box-shadow:2px 2px;
  margin:auto;
 }
/*Pokedex Array Style Attributes End */
